<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <h1>Hello, Vue :)</h1>

    <div id="app">
      <div v-if="showBears">
        <ul> <!-- v-for is used iterating through data -->
          <li v-for="bear in bears">
            <h3>{{ bear.title }}</h3>
            <p>{{ bear.company }}</p>
          </li>
        </ul>
      </div>

      <button @click="toggleShowBears">
        <span v-if="showBears">Hide Bears</span>
        <span v-else>Show Bears</span>
      </button>

    </div>

    <script src="app.js"></script>
  </body>
</html>